<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
  <h4 class="bg-light col-6 mt-3 ml-5">商品新規登録</h4>


  <%= form_with model: @item,url:admin_items_path do |f| %>
    <div class="mx-auto" style="width: 700px;">
    <div class="mt-3 mb-3">
    <%= f.label :商品画像 %>
      <%= f.file_field :image %>
    </div>


    <div class="form-group">
    <%= f.label :商品名, class:"col-xs-2" %>
      <%= f.text_field :name, size:"50x5" %>
    </div>
    <div class="form-group">
      <div class="align-top">
    <%= f.label :商品説明, class:"col-xs-2" %>
      </div>
      <%= f.text_area :introduction, size:"60x10" %>
    </div>

     <div class="form-group">
    <%= f.label :ジャンル, class:"col-xs-2" %>
      <%= f.collection_select :genre_id, Genre.all, :id, :name,{prompt: "--選択してください--"} %>
    </div>

    <div class="form-group">
    <%= f.label :税抜価格, class:"col-xs-2" %>
      <%= f.text_field :price %>円
    </div>

    <div class="form-group">
    <%= f.label :販売ステータス %>
      <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, '販売中', value: true %>
      <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, '販売停止中', value: false %>
    </div>

    <%= f.submit "新規登録", class: "btn btn-primary pull-right" %>
    </div>
  <% end %>


  <div class="col-xs-2"></div>
  </div>
  </div>
  </div>
</main>