<main>
  <h2>商品詳細</h2>
  
  <th><%= item_image @item.get_image %></th>

  <table>
    <tr>
      <th>商品名</th>
        <td><%= @item.name %></td>
      <th>商品説明</th>
        <td><%= @item.introduction %></td>
      <th>ジャンル</th>
        <td><%= @item.genre.name %></td>
      <th>税込価格(税抜価格)</th>
        <td>  XXXXX   </td>
      <th>販売ステータス</th>
        <td></td>
    </tr>
  </table>
  
   <%= link_to "編集する",edit_admin_item_path(@item) %>
  
</main>