<main>
  <h2><%= @customer.full_name %>さんの会員情報編集</h2>
  
  <%= form_with model: @customer, url:admin_customer_path do |f| %>
  
    <%= f.label :"会員" %>
      <%= f.label :@customer.id %>
    <%= f.label :"氏名" %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
    <%= f.label :"フリガナ" %>
      <%= f.text_field :kana_first_name %>
      <%= f.text_field :lana_last_name %>
    <%= f.label :"郵便番号" %>
      <%= f.text_field :post_code %>
    <%= f.label :"電話番号" %>
      <%= f.text_field :telephone_number %>
    <%= f.label :"メールアドレス" %>
      <%= f.text_field :email %>
    
    <%= f.label :"会員ステータス" %>
      <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, '退会', value: true %>
      <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, '有効', value: false %>
      
    <%= f.submit "変更を保存" %>
  
  <% end %>
    
</main>