<nain>
  <h2>会員一覧</h2>

  <table>
    <thead>
      <tr>
        <th>会員id</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted %>
              <%= "退会" %>
            <% else %>
              <%= "有効" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</nain>