<main>
  <h2><%= @customer.full_name %>さんの会員詳細</h2>
  
  <table>
    <thead>
      <tr>
        <th>会員id</th>
        <th>氏名</th>
        <th>フリガナ</th>
        <th>郵便番号</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>メールアドレス</th>
        <th>会員ステータス</th>
      </tr>
      <tbody>
        <tr>
          <td></td>
          <td><%= (@customer.first_name + @customer.last_name) %></td>
          <td><%= (@customer.first_name_kana + @customer.last_name_kana) %></td>
          <td><%= @customer.postcode.to_s.insert(3, "-") %></td>
          <td><%= @customer.address %></td>
          <td><%= @customer.phone_number %></td>
          <td><%= @customer.email %></td>
          <td>
            <% if @customer.is_deleted %>
              <%= "退会" %>
            <% else %>
              <%= "有効" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </thead>
  </table>
  
  <%= link_to "編集する",edit_admin_item_path(@item) %>
  <%= link_to "注文履歴を見る",(((((保留)))))(@item) %>
  
</main>