<main>
  <h3>注文履歴詳細</h3>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row">購入者</th>
        <%= link_to admin_customer_path(@order) do %>
          <%= @order.customer.last_name %><%= @order.customer.first_name %>
        <% end %>
      </tr>
      <tr>
        <th scope="row">配送先</th>
        <td>
          <p><%= @order.postal_code %><%= @order.address %></p>
          <p><%= @order.name %></p>
        </td>
      </tr>
      <tr>
        <th scope="row">支払方法</th>
        <td><%= @order.payment_method %></td>
      </tr>
      <tr>
        <th scope="row">注文ステータス</th>
        <td>
          <%= form_with model:@order, url: admin_order_path do |f| %>
            <%= f.select :status, Order.statuses.keys %>
            <%= f.submit "更新", class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-8"style="margin-top: 50px;">
    <table class="table table-bordered">
      <thead>
        <tr class="table-head" style="background-color:#F5F5F5;">
          <th scope="col">商品名</th>
          <th scope="col">単価（税込）</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th scope="col">製作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td>¥<%= (order_detail.price*1.1).floor.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td>¥<%= ((order_detail.price * order_detail.amount*1.1).floor).to_s(:delimited) %></td>
            <td>
              <%= form_with model:order_detail, url: admin_order_detail_path(order_detail) do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses.keys %>
                <%= f.submit "更新", class: 'btn btn-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-xs-4">
    <div>
      <p>
        <strong class="col-xs-3">商品合計</strong>
         ¥<%= (@order.total_payment).to_s(:delimited)%>
      </p>
    </div>
    <br>
    <div>
      <p>
        <strong class="col-xs-2">送料</strong>
        ¥<%= @order.shipping_cost %>
      </p>
    </div>
    <br>

    <div>
      <p>
        <strong class="col-xs-4">請求金額合計</strong>
        ¥<%= @order.total_payment.to_s(:delimited) %>
      </p>
    </div>
    <br>
  </div>
</div>

</div>
</main>
