<main>
  <h2>注文履歴詳細</h2>

  <table class="table">
      <tbody>
        <tr>
          <th scope="row">購入者</th>
          <td><%=link_to @order.customer.first_name + @order.customer.last_name , admin_customer_path(@order.customer.id) %></td>
        </tr>
        <tr>
          <th scope="row">配送先</th>
          <td>
            <p><%= @order.postal_code %><%= @order.address %></p>
            <p><%= @order.name %></p>
          </td>
        </tr>
        <tr>
          <th scope="row">支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th scope="row">注文ステータス</th>
          <td>
            <%= form_with(model: @order, url: admin_orders_order_status_path, method: :patch) do |f| %>
              <%= f.select :order_status, Order.order_statuses.keys.to_a, {} %>
              <%= f.hidden_field :id, :value => @order.id %>
              <%= f.submit "更新",class:"btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-8"style="margin-top: 50px;">
    <table class="table table-bordered">
      <thead>
        <tr class="table-head" style="background-color:#F5F5F5;">
          <th scope="col">商品名</th>
          <th scope="col">単価（税込）</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th scope="col">製作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.product.name %></td>
            <td><%= order_detail.once_price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.once_price * order_detail.amount %>
            </td>
            <td>
               <%= form_with(model: product_order, url: admins_orders_product_orders_status_path, method: :patch, local: true) do |f| %>
                <%= f.select :product_order_status, [["着手不可", 0], ["製作待ち", 1], ["製作中", 2], ["製作完了", 3]] ,selected: product_order.product_order_status_before_type_cast %>
                <%= f.hidden_field :id, :value => product_order.id %>
                <%= f.hidden_field :order_id, :value => @order.id %>
                <%= f.submit "更新",class:"btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-xs-4"style="margin-top: 120px;">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">商品合計</th>
          <td><%= @sum %></td>
        </tr>
        <tr>
          <th scope="row">送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <th scope="row">請求金額合計</th>
          <td><%= @sum + @order.shipping_cost %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</main>
