<main>
  <h2>注文履歴一覧</h2>

  <table>
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <th><%=link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %></th>
        <th><%= order.customer.first_name %><%= order.customer.last_name %></th>
        <th>
          <% @sum = 0 %>
            <% order.order_details.all.each do |order_detail|  %>
              <% @amount = order_detail.amount  %>
              <% @sum += @amount  %>
            <% end %>
          <%= @sum %>
        </th>
        <th><%= order.status %></th>
      </tr>
      <% end %>
    </tbody>
  </table>

</main>