<main>
  <h1>商品一覧</h1>
  <strong> (全<%= @items.count %>件) </strong>
  
  <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
      <%= image_tag item.get_image(100,100) %>
    <% end %>
    <%= item.name %>
    <%= item.add_tax_price.to_s(:delimited) %>
  <% end %>
  
  <%= paginate @items %>
</main>